NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
# Live: production
NEXT_PUBLIC_SANITY_DATASET=production
# Local testing: development 
# NEXT_PUBLIC_SANITY_DATASET=development
SANITY_API_TOKEN=your_write_token
JWT_SECRET=your_super_secret_jwt_key_change_this
ADMIN_PASSWORD=Shafiq@7071
